<div class="d-inline-flex ">
    <div class="div-texto-banner">
        <h1>qualquer coisa</h1>
        <h2>teste teste</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            rhoncus ultrices
            lacinia. Aenean egestas eu risus cursus sagittis. Proin at faucibus ex.</p>
        <a href="#">
            <small class="texto-botao-cadastro-banner">Cadastre-se</small>
            <img class="botao-cadastro-banner" src="../../../../assets/icons/Botão Chamada.svg" alt="botao de cadastro">
        </a>
    </div>
    <img src="../../../../assets/images/Imagem Banner.svg" alt="banner">

</div>