.banner-destaque-1 {
    font-family: poppins-bold; 
    font-size: 43.7pt;
    color: #0d7746;
}

.banner-destaque-2 {
    font-family: poppins-regular;
    font-size: 31.05pt;
    color: #2bc389;
}

.banner-texto {
    font-family: open-sans-regular;
    font-size: 10.35pt;
    color: #2bc389;
}

.botao-banner, .banner-cabecalho {
    position: relative;
}

.texto-botao-cadastro-banner {
    font-family:poppins-semiBold; 
    font-size: 9,5pt;
    position: absolute;
    left: 0.9rem;
    bottom: -0.15rem;
    color: white;
}

.banner-imagem {
    width: 45%;
    height: 45%;
    transform: translate(-0%,-30%)!important;
}

.banner-cabecalho {
    margin-bottom: 4rem;
}

.banner {
    margin-top: 6rem;    
}