h1 {
    font-family: poppins-bold !important; 
    font-size: 38pt !important;
    color: #0d7746 !important;
}

h2 {
    font-family: poppins-regular;
}

p {
    font-family: open-sans-regular;
}

a {
    position: relative;
}

.texto-botao-cadastro-banner {
    font-family:poppins-semiBold; 
    font-size: 9,5pt;
    position: absolute;
    left: 0.9rem;
    bottom: -0.15rem;
}