<div class="d-inline-flex row gx-5 gy-5 px-5 pt-5 banner">
    <div class="banner-cabecalho col px-5">

        <h1 class="banner-destaque-1">LOREM IPSUM</h1>
        <h2 class="banner-destaque-2">DOLOR SIT</h2>
        <p class="banner-texto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            rhoncus ultrices lacinia. Aenean egestas eu risus cursus sagittis. Proin at faucibus ex.
        </p>

        <a class="botao-banner" href="#pre-cadastra-cidadao">
            <small class="texto-botao-cadastro-banner">CADASTRE-SE</small>
            <img class="botao-banner-image" src="../../../../assets/icons/Botão Chamada.svg" alt="botao de cadastro">
        </a>
    </div>

    <img class="banner-imagem col px-5" src="../../../../assets/images/Imagem Banner.svg" alt="banner">
</div>