<body>
  <main>
    <section id="historia">
      <div class="card">
        <h1>SOBRE NÓS</h1>

        <h2>Lorem Ipsum</h2>
      </div>

      <div class="card">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolor officia, labore vero alias veritatis quidem nulla nemo. Unde ab dolor autem error nihil repellat quidem quo distinctio animi similique.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat commodi quibusdam, a enim at animi dolore labore fugiat consectetur quas, voluptatem iure fuga laudantium illo blanditiis! Libero dolore laudantium consequuntur.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quaerat, vitae magni architecto iusto recusandae, fugit fuga excepturi, ex labore doloribus aliquid consequuntur at facilis sequi enim ab reiciendis assumenda?
        </p>
      </div>
    </section>
  </main>
</body>

