* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 80%;
  padding: 6rem;
  background-color: #ececec;
}


#historia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background-color: #ececec;
  border: none;
}

.card > h1 {
  color: #0d7746;
  font-size: 4rem;
  margin-top: 7rem;
  font-family: 'poppins-bold';
}

.card > h2 {
  color: #2bc389;
  font-size: 2.5rem;
  font-family: 'poppins-regular';
}

.card > p {
  color: #4d4d4d;
  font-size: 1.2rem;
  text-align: justify;
  font-family: 'open-sans-regular';
}

