<nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/images/Imagem Logo.png" alt="" width="" height="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="">
            <ul class="navbar-nav">
              <li class="">
                <a class="" href="#">HOME</a>
              </li>
              <li class="">
                <a class="" href="#">TUTORIAL</a>
              </li>
              <li class="">
                <a class="" href="#">SOBRE NÓS</a>
              </li>
              <li>
                <input type="button" value="CADASTRE-SE">
              </li>
            </ul>
        </div>
      </div>
</nav>
