<nav id="home" class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid conteiner">
        <a class="navbar-brand" href="#pre-cadastra-cidadao">
          <img src="../../../assets/icons/Logo-Topo.svg" alt="" width="195px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="navbar">
            <ul class="navbar-nav">
              <li class="text-nav">
                <a class="text-link" href="#home">HOME</a>
              </li>
              <li class="text-nav">
                <a class="text-link" href="#turorial">TUTORIAL</a>
              </li>
              <li class="text-nav">
                <a class="text-link" href="#historia">SOBRE NÓS</a>
              </li>
              <li>
                <a href="#pre-cadastra-cidadao">
                <input class="botao" type="button" style="background-image: url('../../../assets/icons/botao-chamada.svg');" value="CADASTRE-SE">
              </a>
              </li>
            </ul>
        </div>
      </div>
</nav>
