* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;

  position: relative;
  bottom: 0;
  padding: 2.5rem 4rem;

  background: #4d4d4d;
}

.logo-dinheiro {
  width: 13rem;

  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 1.6rem;

  text-align: initial;
}

footer p {
  position: relative;
  bottom: 1rem;
  font-family: 'poppins-regular';
  color: white;
  font-size: 1rem;

  text-align: center;


  margin-left: 16rem;
}



.img-c {
  position: relative;
  width: 1.2rem;
}


