footer {
  width: 100%;
  position: relative;
  padding: 3rem 4rem;
  background: #4d4d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-dinheiro {
  width: 100%;
  max-width: 13rem;
  position: relative;
  margin: 0 2rem 0 0;
}

.copyright {
  position: relative;
  font-family: 'poppins-regular';
  color: white;
  margin: 0;
  font-size: 1rem;
  min-width: 60%;
  text-align: center;
  flex-grow: 2;
}


@media only screen and (max-width: 768px) {
  footer {
    padding: 2rem 3rem;
  }

  .logo-dinheiro {
    max-width: 9rem;
  }

  .copyright {
    font-size: 0.75rem;
  }
}

